body {
    text-align: center;
    justify-content: center;
}

form {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    justify-content: center;
}

/* .row {
    display: flex;
    margin-left:-5px;
    margin-right:-5px;
}
  
.column {
    flex: 50%;
    padding: 5px;
} */
  
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    padding: 100px;
}

table, th, td {
    justify-content: center;
    width: 100px;
    border: 1px solid black;
    margin-left: auto; 
    margin-right: auto;
    border-spacing: 0 0px;
}
  
input {
    width: 50px;
    height: 20px;
    border: 1px solid black;
    justify-content: center;
}

form input {
    width: 40px;
    height: 40px;
    border: 0px;
    justify-content: center;
}

.mat1 {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}

* {
box-sizing: border-box;
}
  
/* Create a two-column layout */
.column {
float: left;
width: 50%;
padding: 5px;
}
  
/* Clearfix (clear floats) */
.row::after {
content: "";
clear: both;
display: table;
}